[Desktop Entry]
Name=Finar
Comment=Jellyfin Media Client
Exec=finar
Icon=finar
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;
Keywords=jellyfin;media;streaming;movies;tv;
StartupWMClass=finar
